<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147865310220-tek3iut8ult1f0g4f351iek989tj5l61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147865310220-tek3iut8ult1f0g4f351iek989tj5l61</string>
	<key>API_KEY</key>
	<string>AIzaSyAfLNIafrs6OqQyEK0jEeI_0EL5cQh7BUY</string>
	<key>GCM_SENDER_ID</key>
	<string>147865310220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.burencyDemo</string>
	<key>PROJECT_ID</key>
	<string>burencydemo</string>
	<key>STORAGE_BUCKET</key>
	<string>burencydemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147865310220:ios:74994dc3cc5b3cebedca29</string>
</dict>
</plist>